* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body {
    background-color: #F5F5F5;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Header Section Started */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-bar h1 {
    font-size: 32px;
    font-weight: 700;
}
.btn-1 {
    background-color: transparent;
    border: 2px solid #006A50;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    color: #006A50;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #006A50;
    color: #F5F5F5;
    transition: 0.3s ease-out;
}
/* Header Section Ended */