* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body {
    background-color: #F5F5F5;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Header Section Started */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-bar h1 {
    font-size: 32px;
    font-weight: 700;
}
.btn-1 {
    background-color: transparent;
    border: 2px solid #006A50;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    color: #006A50;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #006A50;
    color: #F5F5F5;
    transition: 0.3s ease-out;
}
/* Header Section Ended */

.banner-section {
    margin-top: 30px;
    border-radius: 16px;
    padding: 50px;
    background-color: #c6e4d6 ;
    display: flex;
    gap: 30px;
    align-items: center;
}
.banner-info p {
    font-size: 24px;
    color: #474747;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
.banner-info h2 {
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.banner-img img {
    width: 430px;
}
.btn {
    background-color: #006A50;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
/* Banner Section Ended */

/* Pillar Section Started */
.pillar-container-1 {
    margin-top: 80px;
}
.pillar-container-1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.pillar-container-2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.pillar-card {
    width: 32%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px ;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
}
.pillar-card img {
    margin-bottom: 20px;
}
.pillar-card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.pillar-card p {
    color: #474747;
    font-size: 16px;
}
/* Pillar Section Ended*/

/* Card Section Started */
.card-container-1 {
    margin-top: 80px;
}
.card-container-1 h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.card-container-1 p{
    font-size: 16px;
    color: #474747;
}
.card-container-2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.card1 {
    width: 32%;
    background-color: #d5e1f5;
    padding: 20px;
    border-radius: 10px ;
}
.card2 {
    width: 32%;
    background-color: #c6e4d6;
    padding: 20px;
    border-radius: 10px ;
}
.card3 {
    width: 32%;
    background-color: #f7ebcf ;
    padding: 20px;
    border-radius: 10px ;
}
.card1 img {
    margin-bottom: 20px;
}
.card1 h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #0E0E0E;
}
.card1 p {
    color: #474747;
    font-size: 16px;
}
.card2 img {
    margin-bottom: 20px;
}
.card2 h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #0E0E0E;
}
.card2 p {
    color: #474747;
    font-size: 16px;
}
.card3 img {
    margin-bottom: 20px;
}
.card3 h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #0E0E0E;
}
.card3 p {
    color: #474747;
    font-size: 16px;
}
.card-btn1 {
    background-color: #5490F5;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.card-btn2 {
    background-color: #09A15C;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
.card-btn3 {
    background-color: #FFC239;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
}
/* Card Section Ended */