* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}
body {
    background-color: #F5F5F5;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
/* Header Section Started */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.nav-bar h1 {
    font-size: 32px;
    font-weight: 700;
}
.btn-1 {
    background-color: transparent;
    border: 2px solid #006A50;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    color: #006A50;
    cursor: pointer;
}
.btn-1:hover {
    background-color: #006A50;
    color: #F5F5F5;
    transition: 0.3s ease-out;
}
/* Header Section Ended */
.banner-section {
    margin-top: 30px;
    border-radius: 16px;
    padding: 50px;
    background-color: #c6e4d6 ;
    display: flex;
    gap: 30px;
    align-items: center;
}
.banner-info p {
    font-size: 24px;
    color: #474747;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    margin-bottom: 20px;
}
.banner-info h1 {
    font-size: 50px;
    font-weight: 700px;
    margin-bottom: 20px;
}
.banner-img img {
    width: 430px;
}
.btn {
    background-color: #006A50;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
/* Banner Section Ended */